escaping angle brackets inside <pre>

(original issue created by @jreschke)
example:
~~~
<pre>
The Master File format [RFC 1035 Section 5] is extended to include
the following directive:

$TTL &amp;lt;TTL&amp;gt; [comment]

All resource records appearing after the directive, and which do not
explicitly include a TTL value, have their TTL set to the TTL given
in the $TTL directive.  SIG records without a explicit TTL get their
TTL from the "original TTL" of the SIG record [RFC 2065 Section 4.5].
</pre>
~~~

The above works, but it would be good to confirm that this amount of escaping is needed. We also need to check whether the generated annotations conform to that.

I have to re-open this issue because (allowed) html tags (like `ins`, `del` etc.) inside the `pre` sections have been escaped, too. This wasn't intended. With the proposed fix (following soon) you only have to escape characters inside the `<pre>` sections if the text contains strings which can (but shouldn't be) parsed as valid html open or close tags. Examples:
* `<pre>< > &</pre>` works fine without escaping
* `<pre><FOO> <TTL> </BAR></pre>` works fine without escaping
* `<pre><b>bold</b>, <ins>and</ins> this<del>s</del></pre>` works fine without escaping
* `<pre>Don't use <pre> or <b>.</pre>` must be escaped to `<pre>Don't use <&shy;pre> or <&shy;b>.</pre>`